<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
     <h1>Become a ninja</h1>
     <%- include('./partials/nav.ejs') %>
     <h2>About us</h2>
    <p>Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. 
        Eligendi similique nemo nihil blanditiis earum nam rem odio at voluptas,
         nesciunt ab sequi, quos voluptatibus unde numquam sit sint cumque? Error.</p>

     <%- include('./partials/footer.ejs') %>
</body>
</html>